.btn-criar {
    background: var(--accent-color);
    color: var(--text-color);
    font-weight: 600;
    border-radius: 10px;
    border: none;
    padding: 12px 18px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 32px;

    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-criar:hover {
    box-shadow: 0 0 12px var(--accent-color);
}
