.campanha-card {
    background: rgba(20, 24, 44, 0.8);
    border: 2px solid var(--border-color);
    border-radius: 18px;
    padding: 20px;

    cursor: pointer;
    transition: 0.25s ease;
    position: relative;
}

.campanha-card:hover {
    transform: translateY(-4px);
    border-color: var(--accent-color);
}

.card-actions {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    gap: 8px;
    opacity: 0;
    transition: .2s;
}

.campanha-card:hover .card-actions {
    opacity: 1;
}

.action-btn {
    padding: 6px;
    border-radius: 8px;
    color: var(--muted-text-color);
    cursor: pointer;
    transition: .2s;
}

.action-btn.delete:hover {
    color: #ff4d4d;
}

@media (max-width: 800px) {
    .card-actions {
        opacity: 1 !important;
    }
    
    .campanha-card:hover {
        transform: none;
    }
}

.campanha-card h2 {
    margin: 0 0 6px;
    color: var(--primary-color);
    font-size: 22px;
    font-weight: bold;
}

.campanha-card .descricao {
    color: var(--muted-text-color);
    font-size: 14px;
    margin-bottom: 12px;
}

.campanha-card .sistema {
    color: var(--accent-color);
    font-size: 15px;
    margin-bottom: 6px;
    text-transform: capitalize;
    font-weight: 600;
}

.campanha-card .mestre-info {
    font-size: 14px;
    color: var(--text-color);
    opacity: 0.9;
}

.card-info-row {
    margin-top: 12px;
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: var(--text-color);
    opacity: 0.9;
}

/* MODAL */ 

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content {
    background: var(--card-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    width: 480px;
    padding: 32px;
    position: relative;
    animation: zoomIn .25s ease;
}

.modal-content h2 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--accent-color);
}

.modal-close {
    position: absolute;
    right: 16px;
    top: 16px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    opacity: .7;
}

.modal-close:hover {
    opacity: 1;
    color: var(--accent-color);
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal-form label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--text-color);
}

.modal-form textarea {
    resize: none;
    min-height: 120px;
} 

.modal-form input,
.modal-form select,
.modal-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: rgba(15, 23, 42, 0.7);
    border: 1px solid var(--border-color);
    color: var(--text-color);

    appearance: none;
    -webkit-appearance: none; /* Chrome, Safari */
    -moz-appearance: none; 
    background-image: none !important;
}

.modal-form label:last-of-type input:hover {
    cursor: not-allowed;
}

.modal-submit {
    margin-top: 10px;
    background: var(--accent-color);
    color: var(--text-color);
    border: none;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.modal-submit:hover {
    box-shadow: 0 0 12px var(--accent-color);
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.92);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
