.campanha-card {
    background: rgba(20, 24, 44, 0.8);
    border: 2px solid var(--border-color);
    border-radius: 18px;
    padding: 20px;

    cursor: pointer;
    transition: 0.25s ease;
    position: relative;
}

.campanha-card:hover {
    transform: translateY(-4px);
    border-color: var(--accent-color);
}

.card-actions {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    gap: 8px;
    opacity: 0;
    transition: .2s;
}

.campanha-card:hover .card-actions {
    opacity: 1;
}

.action-btn {
    padding: 6px;
    border-radius: 8px;
    color: var(--muted-text-color);
    cursor: pointer;
    transition: .2s;
}

.action-btn.delete:hover {
    color: #ff4d4d;
}

@media (max-width: 800px) {
    .card-actions {
        opacity: 1 !important;
    }
    
    .campanha-card:hover {
        transform: none;
    }
}

.campanha-card h2 {
    margin: 0 0 6px;
    color: var(--primary-color);
    font-size: 22px;
    font-weight: bold;
}

.campanha-card .descricao {
    color: var(--muted-text-color);
    font-size: 14px;
    margin-bottom: 12px;
}

.campanha-card .sistema {
    color: var(--accent-color);
    font-size: 15px;
    margin-bottom: 6px;
    text-transform: capitalize;
    font-weight: 600;
}

.campanha-card .mestre-info {
    font-size: 14px;
    color: var(--text-color);
    opacity: 0.9;
}

.card-info-row {
    margin-top: 12px;
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: var(--text-color);
    opacity: 0.9;
}

